version: '3.7'

services:
  {{ PG_SERVICE_NAME }}:
    container_name: {{ NAME_DOCKER_POSTGRES }}
    image: postgres:12
    environment:
      - POSTGRES_DB: postgres
      - POSTGRES_USER: {{ POSTGRES_USER }}
      - POSTGRES_PASSWORD: {{ POSTGRES_PASSWORD }}
    volumes:
      - {{ PG_DATA }}:{{ PG_DATA_FILE }}
    
    ports:
      - "5432:5432"

    networks:
      - {{ ODOO_NETWORD }}
    
    restart: always

  {{ ODOO_SERVICE_NAME }}:
    container_name: {{ NAME_DOCKER_ODOO }}
    image: odoo:13
    depends_on:
      - {{ PG_SERVICE_NAME }}

    ports:
      - "{{ ODOO_PORT }}:8069"

    networks:
      - {{ ODOO_NETWORD }}

    volumes:
      - {{ ODOO_DATA }}:{{ ODOO_WEB_DATA }}
      - {{ ODOO_CONFIG }}
      - {{ ODOO_ADDONS }}
      
networks:
  {{ ODOO_NETWORD }}:
    driver: bridge
    name: {{ ODOO_NETWORD }}

volumes:
  {{ PG_DATA }}:
  {{ ODOO_DATA }}: