version: '3.7'

services:
  db:
    container_name: {{ NAME_DOCKER_POSTGRES }}
    image: postgres:12
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER={{ POSTGRES_USER }}
      - POSTGRES_PASSWORD={{ POSTGRES_PASSWORD }}
      - PGDATA={{ PG_DATA_FILE }}
    volumes:
      - {{ PG_DATA }}:{{ PG_DATA_FILE }}
    
    ports:
      - "{{ POSTGRES_PORT }}:5432"

    networks:
      - {{ postgres_network }}
    
    restart: always

  odoo:
    container_name: {{ NAME_DOCKER_ODOO }}
    image: odoo:13
    depends_on:
      - db

    ports:
      - "{{ ODOO_PORT }}:8069"

    networks:
      - {{ ic_webapp_network }}
      - {{ postgres_network }}

    volumes:
      - {{ ODOO_DATA }}:{{ ODOO_WEB_DATA_FILE }}
      - {{ ODOO_CONFIG }}
      - {{ ODOO_ADDONS }}
    environment:
      - USER={{ POSTGRES_USER }}
      - PASSWORD={{ POSTGRES_PASSWORD }}
      - HOST="postgres"
      - PORT={{ POSTGRES_PORT }}
      
networks:
  {{ ic_webapp_network }}: {}
  {{ postgres_network }}: {}
    #driver: bridge

volumes:
  {{ PG_DATA }}:
  {{ ODOO_DATA }}:
