version: '3.7'

services:
      
  pgadmin:
      container_name: {{ NAME_DOCKER_PGADMIN }} 
      image: dpage/pgadmin4
      
      environment:
        - PGADMIN_DEFAULT_EMAIL: {{ PGADMIN_DEFAULT_EMAIL }} 
        - PGADMIN_DEFAULT_PASSWORD: {{ PGADMIN_DEFAULT_PASSWORD }} 
      
      ports:
        - "{{ PGADMIN_PORT }}:{{ PGADMIN_LISTEN_PORT }}"

      networks:
        - {{ PG_NETWORK }}
    
      volumes:
        - ${PWD}/servers.json:/{{ PGADMIN_DATA }}/servers.json
        - {{ PGADMIN_DATA }}:{{ PGADMIN_DATA_FILE }} 
    
      restart: always

networks:
  {{ PG_NETWORK }}:
    driver: bridge
    name: {{ PG_NETWORK }}

volumes:
  {{ PGADMIN_DATA }}: