{
    "Servers": {
      "1": {
        "Name": "{{ PGADMIN_CONFIG_NAME }}", 
        "Group": "{{ PGADMIN_CONFIG_GROUP }}",
        "Port": "5432" ,
        "Username": "{{ PGADMIN_CONFIG_USERNAME }}",
        "Host": "{{ PGADMIN_CONFIG_HOST }}", 
        "SSLMode": "prefer"
        "MaintenanceDB": "postgres", 
      }
    }
}