version: '3.7'

services:
      
  pgadmin:
      container_name: {{ NAME_DOCKER_PGADMIN }} 
      image: dpage/pgadmin4
      user: root
      
      environment:
        - PGADMIN_DEFAULT_EMAIL={{ PGADMIN_DEFAULT_EMAIL }} 
        - PGADMIN_DEFAULT_PASSWORD={{ PGADMIN_DEFAULT_PASSWORD }} 
        - PGADMIN_LISTEN_PORT={{ PGADMIN_LISTEN_PORT }} 
    
      ports:
        - "{{ PGADMIN_PORT }}:{{ PGADMIN_LISTEN_PORT }}"

      networks:
        - {{ ic_webapp_network }}
        - {{ postgres_network }}

      logging:
        driver: "none"
    
      volumes:
        - ${PWD}/servers.json:/pgadmin4/servers.json
        - {{ PGADMIN_VOLUME_NAME }}:{{ PGADMIN_DATA_FILE }} 
    
      restart: always

networks:
  {{ ic_webapp_network }}: {}
  {{ postgres_network }}: {}
    #driver: bridge

volumes:
  {{ PGADMIN_VOLUME_NAME }}:
